In [1]:
import pydicom #read dicom files
import os
import pandas as pd

In [2]:
labels_df = pd.read_excel("C:/Users/casti/Documents/Final_Project/lidc-idri nodule counts (6-23-2015).xlsx", index_col=0)
labels_df=labels_df.reset_index()
labels_df=labels_df[['TCIA Patent ID', 'Number of Nodules >=3mm**']]
labels_df.rename(columns = {'TCIA Patent ID':'ID', 'Number of Nodules >=3mm**':'severity_degree'}, inplace = True)
labels_df.set_index('ID')

In [3]:
labels_df

,Total Number of Nodules*,Number of Nodules >=3mm**,Number of Nodules <3mm***,Unnamed: 4,Unnamed: 5
TCIA Patent ID,,,,,
LIDC-IDRI-0001,4,1,3,NaN,NaN
LIDC-IDRI-0002,12,1,11,NaN,*total number of lesions that received either ...
LIDC-IDRI-0003,4,4,0,NaN,"**total number of lesions that received a ""nod..."
LIDC-IDRI-0004,4,1,3,NaN,"***total number of lesions that received a ""no..."
LIDC-IDRI-0005,9,3,6,NaN,NaN
...,...,...,...,...,...
LIDC-IDRI-1009,2,1,1,NaN,NaN
LIDC-IDRI-1010,10,1,9,NaN,NaN
LIDC-IDRI-1011,4,4,0,NaN,NaN
LIDC-IDRI-1012,1,1,0,NaN,NaN
NaN,7371,2669,4702,NaN,NaN

In [4]:
labels_df=labels_df.reset_index()

In [5]:
labels_df

,TCIA Patent ID,Total Number of Nodules*,Number of Nodules >=3mm**,Number of Nodules <3mm***,Unnamed: 4,Unnamed: 5
0,LIDC-IDRI-0001,4,1,3,NaN,NaN
1,LIDC-IDRI-0002,12,1,11,NaN,*total number of lesions that received either ...
2,LIDC-IDRI-0003,4,4,0,NaN,"**total number of lesions that received a ""nod..."
3,LIDC-IDRI-0004,4,1,3,NaN,"***total number of lesions that received a ""no..."
4,LIDC-IDRI-0005,9,3,6,NaN,NaN
...,...,...,...,...,...,...
1014,LIDC-IDRI-1009,2,1,1,NaN,NaN
1015,LIDC-IDRI-1010,10,1,9,NaN,NaN
1016,LIDC-IDRI-1011,4,4,0,NaN,NaN
1017,LIDC-IDRI-1012,1,1,0,NaN,NaN
1018,NaN,7371,2669,4702,NaN,NaN

In [6]:
labels_df=labels_df[['TCIA Patent ID', 'Number of Nodules >=3mm**']]

In [7]:
labels_df

      TCIA Patent ID  Number of Nodules >=3mm**
0     LIDC-IDRI-0001                          1
1     LIDC-IDRI-0002                          1
2     LIDC-IDRI-0003                          4
3     LIDC-IDRI-0004                          1
4     LIDC-IDRI-0005                          3
...              ...                        ...
1014  LIDC-IDRI-1009                          1
1015  LIDC-IDRI-1010                          1
1016  LIDC-IDRI-1011                          4
1017  LIDC-IDRI-1012                          1
1018             NaN                       2669

[1019 rows x 2 columns]

In [8]:
labels_df.rename(columns = {'TCIA Patent ID':'ID', 'Number of Nodules >=3mm**':'severity_degree'}, inplace = True)

C:\Users\casti\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [9]:
labels_df.set_index('ID')

                severity_degree
ID
LIDC-IDRI-0001                1
LIDC-IDRI-0002                1
LIDC-IDRI-0003                4
LIDC-IDRI-0004                1
LIDC-IDRI-0005                3
...                         ...
LIDC-IDRI-1009                1
LIDC-IDRI-1010                1
LIDC-IDRI-1011                4
LIDC-IDRI-1012                1
NaN                        2669

[1019 rows x 1 columns]

In [10]:
labels_df['severity_degree'].replace(1, 0, inplace=True)
labels_df['severity_degree'].replace(2, 1, inplace=True)
labels_df['severity_degree'].replace(3, 1, inplace=True)

for i in range(4,30):

    labels_df['severity_degree'].replace(i, 2, inplace=True)

C:\Users\casti\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [11]:
labels_df

                  ID  severity_degree
0     LIDC-IDRI-0001                0
1     LIDC-IDRI-0002                0
2     LIDC-IDRI-0003                2
3     LIDC-IDRI-0004                0
4     LIDC-IDRI-0005                1
...              ...              ...
1014  LIDC-IDRI-1009                0
1015  LIDC-IDRI-1010                0
1016  LIDC-IDRI-1011                2
1017  LIDC-IDRI-1012                0
1018             NaN             2669

[1019 rows x 2 columns]

In [12]:
labels_df.shape

(1019, 2)

In [20]:
labels_df2=labels_df.dropna()

In [21]:
labels_df2.shape

(1018, 2)

In [22]:
labels_df2

                  ID  severity_degree
0     LIDC-IDRI-0001                0
1     LIDC-IDRI-0002                0
2     LIDC-IDRI-0003                2
3     LIDC-IDRI-0004                0
4     LIDC-IDRI-0005                1
...              ...              ...
1013  LIDC-IDRI-1008                2
1014  LIDC-IDRI-1009                0
1015  LIDC-IDRI-1010                0
1016  LIDC-IDRI-1011                2
1017  LIDC-IDRI-1012                0

[1018 rows x 2 columns]

In [24]:
labels_df=labels_df2

In [25]:
labels_df

                  ID  severity_degree
0     LIDC-IDRI-0001                0
1     LIDC-IDRI-0002                0
2     LIDC-IDRI-0003                2
3     LIDC-IDRI-0004                0
4     LIDC-IDRI-0005                1
...              ...              ...
1013  LIDC-IDRI-1008                2
1014  LIDC-IDRI-1009                0
1015  LIDC-IDRI-1010                0
1016  LIDC-IDRI-1011                2
1017  LIDC-IDRI-1012                0

[1018 rows x 2 columns]